@page "/posts"
@inherits Base
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject ILogger<Posts> logger
@inject IFeedClient feedClient
@inject IJSRuntime jsRuntime

<PageTitle>Posts</PageTitle>
<AuthorizeView>
Username: @(CurrentUser == null ? "loading" : CurrentUser.Username)
<h1>Posts from @(FeedUrl == null ? string.Empty : new Uri(FeedUrl).Authority)</h1>

<CascadingValue Value="@feedClient" Name="FeedClient">
<CascadingValue Value="@CurrentUser" Name="CurrentUser">
<CascadingValue Value="@Page" Name="Page">
<CascadingValue Value="@Items" Name="Posts">
    <PostTable OnPageChanged="UpdatePage" OnRefreshTriggered="RefreshPosts"/>
</CascadingValue>
</CascadingValue>
</CascadingValue>
</CascadingValue>

@code {
    public RssUser CurrentUser { get; set; }

    [SupplyParameterFromQuery]
    public string FeedUrl { get; set; }
    public int Page { get; set; } = 0;
    private bool initialized = false;
    private int loadedPage = -1;
    
    public List<NewsFeedItem> Items { get; set; } = new List<NewsFeedItem>();

    private async Task UpdatePage()
    {
        if (!initialized)
        {
            return;
        }

        Page += 1;

        await this.RefreshPosts((this.feedClient.IsFilterUnread, this.feedClient.IsFilterSaved, this.feedClient.FilterTag));
    }

    private async Task RefreshPosts((bool isFilterUnread, bool isFilterSaved, string filterTag) filters)
    {
        if (filters.isFilterUnread != this.feedClient.IsFilterUnread
            || filters.isFilterSaved != this.feedClient.IsFilterSaved
            || filters.filterTag != this.feedClient.FilterTag)
        {
            Items = new List<NewsFeedItem>();
            Page = 0;
            this.loadedPage = -1;
            this.feedClient.IsFilterUnread = filters.isFilterUnread;
            this.feedClient.IsFilterSaved = filters.isFilterSaved;
            this.feedClient.FilterTag = filters.filterTag;
        }

        if (Page <= loadedPage)
        {
            this.logger.LogWarning("RefreshPosts extraneous call");
            return;
        }

        var decodedUrl = System.Net.WebUtility.UrlDecode(FeedUrl);
        var feed = new NewsFeed(decodedUrl, this.CurrentUser.Id);
        var newPageRes = await this.feedClient.GetFeedItemsAsync(feed, Page);
        Items.AddRange(newPageRes);
        Items = Items.Distinct().ToList();
        this.loadedPage = Page;
        this.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (CurrentUser == null)
        {
            var username = await this.GetUsernameAsync();
            if (username == null)
            {
                return;
            }
            this.CurrentUser = await this.feedClient.RegisterUserAsync(username);
            var decodedUrl = System.Net.WebUtility.UrlDecode(FeedUrl);
            Items = (await this.feedClient.GetFeedItemsAsync(new NewsFeed(decodedUrl, this.CurrentUser.Id), Page)).ToList();
            this.loadedPage = Page;
            this.initialized = true;
            this.StateHasChanged();
        }
    }
}
</AuthorizeView>