@inherits PageBase
@implements IDisposable
@rendermode InteractiveWebAssembly
@attribute [StreamRendering]
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Sve.Blazor.InfiniteScroll.Components
@using WasmApp.Pages.Detail

@inject ILogger<Posts> logger
@inject IJSRuntime jsRuntime

<SectionContent SectionName="toolbar">
    <Toolbar
        filterTag="@filterTag"
        IsFilterUnread="@IsFilterUnread"
        IsFilterSaved="@IsFilterSaved"
        userTags="@userTags"
        ToggleUnreadFilterAsync="@ToggleUnreadFilterAsync"
        ToggleSavedFilterAsync="@ToggleSavedFilterAsync"
        FilterForTag="@FilterForTag"
        Posts="@Posts"
    />
</SectionContent>


<div id="post-table" class="table">
    @if (isLoading)
    {
        <div>
            <div>
                <span class="">Loading...</span>
            </div>
        </div>
    }
    else if (Posts == null || Posts.Count == 0)
    {
        <div class="no-posts-message">
            <p>No posts found.</p>
        </div>
    }
    else
    {
        <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => Next()">
            @foreach (var post in Posts)
            {
                <PostDetail 
                    Post="@post"
                    FilterTag="@this.filterTag"
                    IsFilterUnread="@this.IsFilterUnread"/>
            }

            <div class="row">
                <div id="observerTarget">
                    RssApp
                </div>
            </div>
            
        </InfiniteScroll>
    }
</div>

@code {
    [CascadingParameter(Name = "Posts")]
    public List<NewsFeedItem> Posts { get; set; }
    
    [CascadingParameter(Name = "Page")]
    private int Page { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    [Parameter]
    public EventCallback<(bool, bool, string)> OnRefreshTriggered { get; set; }

    [Parameter]
    public IFeedClient FeedClient { get; set; }

    public IEnumerable<string> userTags = null;
    public bool IsFilterUnread => FeedClient.IsFilterUnread;
    public bool IsFilterSaved => FeedClient.IsFilterSaved;
    private string filterTag => FeedClient.FilterTag;

    private const int MaxPostsToKeep = 100;  // Adjust this number based on your needs
    private bool isLoading = true;

    public void Dispose()
    {
        FeedClient.Dispose();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            this.userTags = await FeedClient.GetUserTagsAsync(CurrentUser);
            StateHasChanged();
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        // When Posts parameter changes, we're done loading
        if (Posts != null && Posts.Any())
        {
            isLoading = false;
        }
    }

    private async Task ToggleUnreadFilterAsync()
    {
        isLoading = true;
        await this.OnRefreshTriggered.InvokeAsync((!this.IsFilterUnread, this.IsFilterSaved, this.filterTag));
    }

    private async Task ToggleSavedFilterAsync()
    {
        isLoading = true;
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, !this.IsFilterSaved, this.filterTag));
    }

    private async Task FilterForTag(string tag)
    {
        isLoading = true;
        if (this.filterTag == tag)
        {
            tag = null;
        }
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, tag));
    }

    private async Task Next()
    {
        isLoading = true;
        await this.OnPageChanged.InvokeAsync(this.Page + 1);
        isLoading = false;
        await InvokeAsync(this.StateHasChanged);
    }
}