@inherits PageBase
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Sve.Blazor.InfiniteScroll.Components
@inject ILogger<Posts> logger
@inject IJSRuntime jsRuntime
@inject FeedRefresher feedRefresher

<AuthorizeView>

<Toolbar
    feedRefresher="@feedRefresher"
    filterTag="@filterTag"
    IsFilterUnread="@IsFilterUnread"
    IsFilterSaved="@IsFilterSaved"
    userTags="@userTags"
    ToggleUnreadFilterAsync="@ToggleUnreadFilterAsync"
    ToggleSavedFilterAsync="@ToggleSavedFilterAsync"
    FilterForTag="@FilterForTag"
/>

<div id="post-table" class="table">
    <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => Next()">
        @foreach (var post in Posts)
        {
            <PostDetail 
                Post="@post"
                FilterTag="@this.filterTag"
                IsFilterUnread="@this.IsFilterUnread"
                OnPostClicked="() => OnPostClicked(post)" />
        }

        <div class="row">
            <div id="observerTarget">
                RssApp
            </div>
        </div>
        
    </InfiniteScroll>
</div>

@code {
    [CascadingParameter(Name = "Posts")]
    public List<NewsFeedItem> Posts { get; set; }
    
    [CascadingParameter(Name = "Page")]
    private int Page { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    [Parameter]
    public EventCallback<(bool, bool, string)> OnRefreshTriggered { get; set; }

    [Parameter]
    public IFeedClient FeedClient { get; set; }

    public bool IsFilterUnread => FeedClient.IsFilterUnread;
    public bool IsFilterSaved => FeedClient.IsFilterSaved;
    public IEnumerable<string> userTags = null;
    private string filterTag => FeedClient.FilterTag;
    private bool initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            this.userTags = FeedClient.GetUserTags(CurrentUser);
        }
    }

    private async Task ToggleUnreadFilterAsync()
    {
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, this.filterTag));
    }

    private async Task ToggleSavedFilterAsync()
    {
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, this.filterTag));
    }

    private async Task FilterForTag(string tag)
    {
        if (this.filterTag == tag)
        {
            tag = null;
        }
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, tag));
    }

    private async Task Next()
    {
        await this.OnPageChanged.InvokeAsync(this.Page + 1);
        await InvokeAsync(this.StateHasChanged);
    }

    private async Task OnPostClicked(NewsFeedItem post)
    {
        if (post?.Id != null)
        {
            await jsRuntime.InvokeVoidAsync("rssApp.setLastPostId", post.Href, this.IsFilterUnread, this.IsFilterSaved, this.filterTag, DateTime.UtcNow.ToString("o"));
        }
    }
}
</AuthorizeView>