@inherits PageBase
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Sve.Blazor.InfiniteScroll.Components
@inject ILogger<Posts> logger
@inject IJSRuntime jsRuntime
@inject FeedRefresher feedRefresher

<AuthorizeView>

<Toolbar
    feedRefresher="@feedRefresher"
    filterTag="@filterTag"
    IsFilterUnread="@IsFilterUnread"
    IsFilterSaved="@IsFilterSaved"
    userTags="@userTags"
    ToggleUnreadFilterAsync="@ToggleUnreadFilterAsync"
    ToggleSavedFilterAsync="@ToggleSavedFilterAsync"
    FilterForTag="@FilterForTag"
/>

<div id="post-table" class="table">
    <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => Next()">
        @foreach (var post in Posts)
        {
            <PostDetail 
                Post="@post"
                FilterTag="@this.filterTag"
                IsFilterUnread="@this.IsFilterUnread"
                OnPostClicked="() => OnPostClicked(post)" />
        }

        <div class="row">
            <div id="observerTarget">
                RssApp
            </div>
        </div>
        
    </InfiniteScroll>
</div>

@code {
    [CascadingParameter(Name = "Posts")]
    public List<NewsFeedItem> Posts { get; set; }
    
    [CascadingParameter(Name = "Page")]
    private int Page { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    [Parameter]
    public EventCallback<(bool, bool, string)> OnRefreshTriggered { get; set; }

    public bool IsFilterUnread { get; set; } = false;
    public bool IsFilterSaved { get; set; } = false;
    public IEnumerable<string> userTags = null;
    private string filterTag = null;
    private bool initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            this.userTags = this.feedClient.GetUserTags(CurrentUser);

            if (!initialized)
            {
                // Try to restore last post
                var lastPostHref = await jsRuntime.InvokeAsync<string>("rssApp.getLastPostId");
                var isUnread = await jsRuntime.InvokeAsync<bool>("rssApp.getIsFilterUnread");
                var isSaved = await jsRuntime.InvokeAsync<bool>("rssApp.getIsFilterSaved");
                var filterTag = await jsRuntime.InvokeAsync<string>("rssApp.getFilterTags");
                var lastSetStr = await jsRuntime.InvokeAsync<string>("rssApp.getLastSet");
                
                if (string.IsNullOrEmpty(lastSetStr))
                {
                    this.StateHasChanged();
                    return;
                }

                var lastSetDate = DateTime.Parse(lastSetStr, null, System.Globalization.DateTimeStyles.AdjustToUniversal);
                if (lastSetDate < DateTime.UtcNow - TimeSpan.FromHours(1))
                {
                    this.StateHasChanged();
                    return;
                }
                
                this.IsFilterUnread = isUnread;
                this.IsFilterSaved = isSaved;
                this.filterTag = filterTag;
                this.feedClient.IsFilterUnread = isUnread;
                this.feedClient.IsFilterSaved = isSaved;
                this.feedClient.FilterTag = filterTag;

                await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, this.filterTag));
                if (!string.IsNullOrEmpty(lastPostHref))
                {
                    int index = 0;
                    bool foundPost = false;
                    while (!foundPost)
                    {
                        if (index >= this.Posts.Count)
                        {
                            await Next();
                        }

                        if (index >= this.Posts.Count)
                        {
                            break; // Prevent out of range access
                        }

                        var post = this.Posts[index];
                        if (string.Equals(post.Href, lastPostHref, StringComparison.OrdinalIgnoreCase))
                        {
                            post.IsBeingPreviewed = true;
                            foundPost = true;
                            await jsRuntime.InvokeVoidAsync("rssApp.scrollToLastPost");
                        }

                        index++;
                    }
                }
                this.StateHasChanged();
                this.initialized = true;
            }
        }
    }

    private async Task ToggleUnreadFilterAsync()
    {
        this.IsFilterUnread = !this.IsFilterUnread;
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, this.filterTag));
    }

    private async Task ToggleSavedFilterAsync()
    {
        this.IsFilterSaved = !this.IsFilterSaved;
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, this.filterTag));
    }

    private async Task FilterForTag(string tag)
    {
        if (this.filterTag == tag)
        {
            this.filterTag = null;
        }
        else
        {
            this.filterTag = tag;
        }
        await this.OnRefreshTriggered.InvokeAsync((this.IsFilterUnread, this.IsFilterSaved, this.filterTag));
    }

    private async Task Next()
    {
        await this.OnPageChanged.InvokeAsync(this.Page + 1);
        await InvokeAsync(this.StateHasChanged);
    }

    private async Task OnPostClicked(NewsFeedItem post)
    {
        if (post?.Id != null)
        {
            await jsRuntime.InvokeVoidAsync("rssApp.setLastPostId", post.Href, this.IsFilterUnread, this.IsFilterSaved, this.filterTag, DateTime.UtcNow.ToString("o"));
        }
    }
}
</AuthorizeView>